---
page_title: "Provider: RHSM"
subcategory: ""
description: |-
  The Red Hat Subscription Manager (RHSM) provider is used to interact with Red Hat Subscription Manager.
---

# Red Hat Subscription Manager Provider

The Red Hat Subscription Manager (RHSM) provider is used to interact with Red Hat Subscription Manager.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
